<div class="field">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="field">
<%= f.label :email %>
<%= f.text_field :email%>
</div>

<div class="field">
<%= f.label :birth_date %>
<%= f.date_field :birth_date, class: 'datepicker' %>
</div>

<div class="field">
<%= f.label :time_zone %>
<%= f.time_zone_select(:time_zone, nil, :class => :timezone) %>
</div>

<div class="field">
<%= f.label :password %>
<%= f.password_field :password %>
</div>

<div class="field">
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation %>
</div>
