<div class="field">
<%= f.label :name %>
<%= f.text_field :name %>
</div>

<div class="field">
<%= f.label :email %>
<%= f.text_field :email%>
</div>

<div class='row'>
  <div class="field span2">
  <%= f.label :birth_date %>
  <%= f.text_field :birth_date, class: 'datepicker' %>
  </div>
  
  <div class="field span3">
  <%= f.label :time_zone %>
    <%= f.time_zone_select(:time_zone, nil, :default => "Kyiv" , :class => :timezone) %>
  </div>
</div>

<div class="field">
<%= f.label :password %>
<%= f.password_field :password %>
</div>

<div class="field">
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation %>
</div>
