<div class="hero-unit">
<div class="page-header">
<div class="btn-group">
<%= link_to 'Edit', edit_user_path(current_user), class: "btn" %> | 
<%= link_to 'Delete my profile', current_user, class: "btn", method: :delete, data: { confirm: 'Are you sure?' } %>|
</div>
<h1>My profile</h1>
</div>

<%= render 'users/avatar' %>
 
<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Birth date:</strong>
  <%=l  current_user.birth_date, :format => :user %>
</p>
  
  <p>
  <strong>Time zone:</strong>
  <%=current_user.time_zone %>
</p>

</div>