<div class="field">
  <%= fields.label :title %>
  <%= fields.text_field :title, :placeholder => 'Title' %>
</div>

<div class="field">
  <%= fields.label :description %>
  <%= fields.text_area(:description, :size => '3x3') %>
</div>

<div class='row'>
  <div class="field span2">
    <%= fields.label :start_at %>
    <%= fields.text_field :start_at, :value => l(@event.start_at, :format => :datetimepicker) %>
  </div>
  <div class="field span2">
    <%= fields.label :end_at %>
    <%= fields.text_field :end_at, :value => l(@event.end_at, :format => :datetimepicker) %>
  </div>
  <div class="field span1">
    <%= fields.label :all_day %>
    <%= fields.check_box :all_day, {checked: true}, true, false %>
  </div>
</div>