<div class="field">
    <%= fields.label :name %>
    <%= fields.text_field :name%>
</div>

<div class="field">
    <%= fields.label :start_at %>
    <%= fields.date_field :start_at%>
</div>

<div class="field">
    <%= fields.label :end_at %>
    <%= fields.date_field :end_at%>
</div>

     

