<div class="field">
    <%= fields.label :title %>
    <%= fields.text_field :title %>
</div>

<div class="field">
    <%= fields.label :description %>
    <%= fields.text_field :description %>
</div>

<div class="field">
    <%= fields.label :start_at %>
    <%= fields.date_field :start_at %>
</div>

<div class="field">
    <%= fields.label :end_at %>
    <%= fields.date_field :end_at %>
</div>

     

